global:
  scrape_interval: 5s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["prometheus:9090"]
        labels:
          app: "prometheus"

  - job_name: "config"
    metrics_path: "/actuator/prometheus"
    static_configs:
      - targets: ["config1:8888"]
        labels:
          app: "config"

  - job_name: "discovery"
    metrics_path: "/actuator/prometheus"
    static_configs:
      - targets: ["discovery1:8761", "discovery2:8762"]
        labels:
          app: "discovery"

  - job_name: "gateway"
    metrics_path: "/actuator/prometheus"
    static_configs:
      - targets: ["gateway:8080"]
        labels:
          app: "gateway"

  - job_name: "user"
    metrics_path: "/actuator/prometheus"
    static_configs:
      - targets: ["user:8181"]
        labels:
          app: "user"

  - job_name: "post"
    metrics_path: "/actuator/prometheus"
    static_configs:
      - targets: ["post:8282"]
        labels:
          app: "post"

  - job_name: "alert"
    metrics_path: "/actuator/prometheus"
    static_configs:
      - targets: ["alert:8383"]
        labels:
          app: "alert"
